*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #4a4a4a;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 480px;
    width: 500px;
    margin-bottom: 100px;
    border-radius: 100%;
    background-color: #e8e8e8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulb {
    height: 300px;
    width: 290px;
    margin-bottom: 10px;
    border: 8px solid #000000;
    border-radius: 100%;
    background-color: #b5b5b5;
}

.line {
    width: 170px;
    height: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #000000;
}

.line:nth-of-type(4) {
    width: 140px;
}

button {
    padding: 30px 50px;
    font-size: 30px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #b5b5b5;
}

button:hover {
    cursor: pointer;
}

/* Lightbulb On styles */

.on {
    background-color: #ffaa00;
}

.wrapper-on {
    box-shadow: 0px 0px 100px 0px #ffffff;
}